# Dependencies
node_modules/

# Environment files
.env
.env.*
!.env.example

# Build files
dist/
build/

# Tests & Scratch
tests/
**/tests/
*.test.ts
*.test.js
*.test.tsx
*.spec.ts
*.spec.js
*.spec.tsx

# Logs
*.log

# System & OS
.DS_Store
Thumbs.db
.vscode/
.idea/

# Documentation
docs/